body {
  font-family: 'Arial', sans-serif;
  background-color: #285caa;
  margin: 0;
  padding: 0;
}

.hero {
  background: linear-gradient(to right, #DDEB9D, #e3f2fd);
  border-radius: 20px;
  color: #03251b;
}

img {
  max-height: 400px;
  object-fit: cover;
}

.marquee-container {
  overflow: hidden;
  width: 100%;
  background-color: #f8f9fa;
  padding: 10px 0;
}

.marquee-track {
  display: flex;
  width: max-content;
  animation: scroll-left 20s linear infinite;
}

.marquee-container:hover .marquee-track {
  animation-play-state: paused;
}

.marquee-group {
  display: flex;
}

.marquee-group img {
  height: 250px;
  margin-right: 20px;
  border-radius: 20px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.marquee-group img:hover {
  transform: scale(1.1);
}

.marquee-container:hover .marquee-track {
  animation-play-state: paused;
}

.marquee-wrapper {
  overflow: hidden;
  width: 70%;
  border-radius: 20px;
  /* mờ nền */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 20px 0;
  border-radius: 12px;
}

.marquee-track-container {
  display: flex;
  width: max-content;
  animation: scroll-left-reverse 30s linear infinite;
  will-change: transform;
}

.marquee-group-1 {
  display: flex;
  gap: 20px;
}

.marquee-group-1 img {
  height: 70px;
  border-radius: 12px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

/* .marquee-group-1 img:hover {
  transform: scale(1.1);
} */

@keyframes scroll-left-reverse {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

.home-layout {
  .grid-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 120px;
    gap: 16px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    /* margin-top: 100px; */
  }

  .grid-item {
    background-color: #1a1a1a;
    color: white;
    border-radius: 12px;
    padding: 16px;
    font-size: 24px;
  }

  /* Tuỳ chỉnh size từng item theo hàng/cột */
  .item-1 {
    grid-row: span 2;
  }

  .item-2 {
    grid-column: span 2;
  }

  .item-3 {
    grid-row: span 1;
  }

  .item-4 {
    grid-column: span 1;
    grid-row: span 2;
  }

  .item-5 {
    grid-column: span 1;
    grid-row: span 1;
  }

  .item-6 {
    grid-column: span 2;
    grid-row: span 2;
  }

  .item-7 {
    grid-column: span 1;
    grid-row: span 1;
  }

  .item-8 {
    grid-column: span 1;
    grid-row: span 1;
  }

  .item-9 {
    grid-column: span 1;
    grid-row: span 1;
  }
}

.video-wrapper {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 20px;
}

.video-wrapper iframe {
  border: none;
  border-radius: 12px;
}